@model Homework_SkillTree.Models.AccountingViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="card bg-light">
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="row mb-3">
                    <label for="NewItem.Type" class="col-sm-2 col-form-label">類別</label>
                    <div class="col-sm-10">
                        <select id="Type" asp-for="NewItem.Type" class="form-select" aria-invalid="true">
                            <option value="" selected>請選擇</option>
                            <option value="1">支出</option>
                            <option value="0">收入</option>
                        </select>
                        <span asp-validation-for="NewItem.Type" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="NewItem.Price" class="col-sm-2 col-form-label">金額</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="NewItem.Price" id="Price" placeholder="金額" aria-invalid="true" aria-describedby="測試">
                        <span asp-validation-for="NewItem.Price" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="NewItem.CreateDate" class="col-sm-2 col-form-label">日期</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="NewItem.CreateDate" id="CreateDate" placeholder="日期">
                        <span asp-validation-for="NewItem.CreateDate" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="NewItem.Description" class="col-sm-2 col-form-label">備註</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" asp-for="NewItem.Description" id="Description" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary">送出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>類別</th>
                        <th>日期</th>
                        <th>金額</th>
                         <th>備註</th> 
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowNumber = 0;
                    }
                    @foreach (var item in Model.Items)
                    {
                        rowNumber++;
                        <tr>
                            <td>@rowNumber</td>
                            <td>@item.TypeName</td>
                            <td>@item.CreateDate.ToString("yyyy-MM-dd")</td>
                            <td>@item.Price.ToString("N2")</td>
                            <td>@item.Description</td> 
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}